body {
    font-family: Arial, Helvetica, sans-serif;
    background-color:  #116175de;
    color: #080707 ;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    h1 {
        margin: 0;
    }
    
    h2 {
        color: rgb(0, 0, 0);
    
    }
}

header {
    grid-area: header;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 20px;
    text-align: center;
}


main {
    padding: 20px;
    margin-bottom: 60px;
}

section {
    background-color: #ffffff;
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px 0 rgba(34, 34, 34, 0.4);
}

.layout-grid{
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    grid-template-rows: auto 1fr 1fr auto;
    gap: 20px;
    padding: 20px;
    margin-bottom: 80px;
    grid-template-areas: 
        "header header header"
        "sidebar contenido1 contenido2"
        "sidebar contenido3 contenido3"
        "footer footer footer";
}


.sidebar{
    grid-area: sidebar;
    background-color: rgba(255, 255, 255, 0.87);
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(34, 34, 34, 0.2);
    
}

.sidebar h2 {
    color: #000000;
    text-align: center;
}

.sidebar ul {
    list-style: none;
    padding-left: 0;
}

.sidebar ul li {
    margin-bottom: 10px;
}

.sidebar ul li a {
    text-decoration: none;
    color: #080707;
    transition: color 0.3s;
}

.sidebar ul li a:hover {
    color: #ffffff;
}

.contenido1, .contenido2, .contenido3 {
    background-color: #ffffff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(34, 34, 34, 0.2);
}

.contenido1 {
    grid-area: contenido1;
}

.contenido2 {
    grid-area: contenido2;
}

.contenido3 {
    grid-area: contenido3;
}


img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    display: block;
    margin: 10px auto;
}


.footer {
    background-color: rgba(68, 68, 68, 0.7);
    color: white;
    text-align: center;
    padding: 2px;
    position:fixed;
    bottom: 0px;
    width: 100%;
}

.email {
    color:black;
    text-decoration: none;
}

.flex-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 20px;
    flex-wrap: wrap;
}

.flex-item {
    flex: 1;
    min-width: 250px;
    background-color: #ffffff;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 4px 8px 0 rgba(34, 34, 34, 0.2);
    margin: 10px;
    text-align: center;
}

@media (max-width: 768px) {
    .layout-grid {
        grid-template-areas: 
        "header"
        "sidebar"
        "contenido1"
        "contenido2"
        "contenido3"
        "footer";
    grid-template-columns: 1fr;
    }
}